.characters
{
  display: flex;
	flex-direction: column;
	align-items: center;

  width: 15vw;
  height: 15vh;
  margin: 2rem;
  padding: 2rem;
  border: 2px dotted #ffffff;

}

.characters--selected
{
  border-color: #ce3d3d;
}

.characters:not(.characters--selected):hover
{
  border-color: red;
}

.characters__info
{
  font-size: 1rem;
}

