.characters__div {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height: 0;
}

.characters
{
  display: flex;
	flex-direction: column;
	align-items: center;
  align-items: center;
    align-content: center;
    justify-content: center;


  margin: 2rem;
  padding: 2rem;
  background-color: hwb(51 63% 16% / 0.249);
  border-radius: 5%;

  height: 15rem;
  width: 15rem;
}


.characters__info
{
  font-size: 1.5rem;
  color: #1f1d17;
  font-style: italic;
}

.characters__info__name{
  font-size: 2rem;
  font-style: bold;
}

.characters a {
  padding: 10px;
  color: white;
  text-decoration: none;
}