.character__div {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 75vw;
    text-wrap: wrap;
}

.character
{
  display: flex;
	flex-direction: column;
	align-items: center;

  margin: 2rem;
  padding: 2rem;

  overflow:auto;
}

.character__infoContainer{
  padding: 5rem;
  border-radius: 5%;
  background-color: hwb(51 63% 16% / 0.249);
}

.character__info__name
{
  font: bold center;
  text-decoration: underline;
  font-size: 5rem;
  text-align: center;

  padding: 1rem;
}

.character__info__name_2
{
  font: center;
  font-size: 3rem;
  text-align: center;

}

.character__info__name_3
{
  font: center;
  font-size: 2rem;
  text-align: center;

}

.character__info
{
  font-size: 3.5rem;
}