.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;

    background: url("https://live.staticflickr.com/4008/4645077417_13bf07086f_o.jpg")no-repeat center center fixed;
    background-size: 100vw 100vh;

  }
  
.app__header
.app__footer {
  height: 1rem;
  margin: 1rem 3rem;
}
  
.app__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;

}

.app__main {
  min-height: 75vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #1b1b1b, 10, 7;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
  color: #1f1d17;
}

ul{
  padding-inline-start: 0px;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  text-align: center;

}

a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  color: hwb(45 66% 0%);
}

a:hover{
  color: bisque;
}





