.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
  }
  
.app__header
.app__footer {
  height: 1rem;
  margin: 1rem 3rem;
}
  
.app__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.app__main {
  min-height: 75vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.app
main {
    
  background-image: url("https://www.nicepng.com/png/full/55-554479_vinilos-game-of-thrones-house-targaryen-transparent.png");
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center;

}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 20px
}

h2{
  font-size: 3rem;
  text-align: center;
}

