div.houses {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 30vw;
  height: 25vh;
  overflow: auto;
}

.houses
{
  display: flex;
	flex-direction: column;
	align-items: center;

  margin: 2rem;
  padding: 2rem;
  border: 2px dotted #ffffff;

  word-wrap: break-word;
}

.houses--selected
{
  border-color: #ce3d3d;
}


.houses__info
{
  font-size: 1.5rem;
}

