.houses__div {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height: 0;
}

.houses
{
  display: flex;
	flex-direction: column;

  margin: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.213);
  border-color: rgba(0, 0, 0, 0.213);
  border-radius: 5%;
}

.houses--selected
{
  border-color: #ce3d3d;
}

.houses:not(.houses--selected):hover
{
  border-color: red;
}

.houses__info
{
  font-size: 1rem;
}

.houses__info__name{
  font-size: 2rem;
}

.houses a {
  padding: 10px;
  color: white;
}