.houses__div {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height: 0;
}

.houses
{
  margin: 2rem;
  padding: 2rem;
  background-color: #d6cea13f;
  border-radius: 5%;

  width: 25rem;
  height: 25rem;
  overflow: auto;
}


.houses__info
{
  font-size: 1.5rem;
  color: #1f1d17;
  font-style: italic;
}

.houses__info__name{
  font-size: 2rem;
  font-style: bold;
  text-decoration: underline;
  text-align: center;
}

